@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color-text: #ffffff;
  --primary-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --dark-bg: #2f303a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-bg);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  color: var(--primary-text-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  list-style: none;
}

.logo {
  display: inline-block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__span {
  color: var(--accent-color);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list__link-icon:focus, .social-list__link-icon:hover {
  fill: var(--white-color-text);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--dark {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--dark-icon {
  fill: #ffffff;
}

.sign {
  margin-left: 93px;
}

.sign-form__title {
  color: var(--white-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.sign-form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.sign-form__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  margin-left: 12px;
}

.sign-form__btn-wrapper {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form__field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  width: 100%;
  min-width: 448px;
  height: 120px;
  margin-top: 6px;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__checkbox-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__checkbox-desc::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  cursor: pointer;
  margin-right: 7px;
  border-radius: 2px;
}

.modal-form__check:checked + .modal-form__checkbox-desc::before {
  background-image: url(../images/iconcheck.svg);
  border: var(--accent-color);
}

.modal-form__check:focus + .modal-form__checkbox-desc::before {
  border-color: #2196f3;
}

.modal-form__checkbox-link {
  color: var(--accent-color);
}

.modal-form__btn {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.section__title1 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.page-header {
  background-color: var(--white-color-text);
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__menu {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .site-nav__menu--active {
  color: var(--accent-color);
  position: relative;
}

.site-nav__menu {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__menu:hover, .site-nav__menu:focus {
  color: var(--accent-color);
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__menu--active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -34px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__mail {
  margin-right: 50px;
}

.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.contacts__icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.hero {
  background-color: var(--dark-bg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgbghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;
  letter-spacing: 0.06em;
}

.hero__button {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
}

.benefits__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.benefits__desc {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

.about__item {
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.about__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
}

.about {
  padding-top: 0;
}

.ourteam__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--secondary-bg);
}

.ourteam__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.ourteam__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.ourteam__name-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients__logo {
  display: flex;
  justify-content: space-between;
}

.clients__cards {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__cards,
.clients__link:focus .clients__cards {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.page-footer {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.page-footer__container {
  display: flex;
}

.page-footer__list {
  margin-right: 70px;
}

.page-footer__map {
  color: #ffffff;
}

.page-footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  display: block;
}

.page-footer__tel {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__mail {
  margin-bottom: 9px;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.join__title {
  color: var(--white-color-text);
}

.portfolio__btnitem:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter {
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio__btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  color: var(--title-text-color);
  background-color: var(--secondary-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.examples__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__item:hover, .examples__item:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.examples__text {
  padding: 24px 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
}

.examples__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.examples__disc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/*=============== Оверлей=========== */
.examples__wrapper {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms linear;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.examples__wrapper-list:hover .examples__overlay,
.examples__wrapper-list:focus .examples__overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */