.about__item {
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.about__label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  bottom: 0;

  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
}

.about {
  padding-top: 0;
}
