.page-footer {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color-text);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
}

.page-footer__container {
  display: flex;
}

.page-footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  display: block;
}

.page-footer__tel {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__mail {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__map {
  color: #ffffff;
}

.join {
  margin-bottom: 60px;
}

.join__title {
  color: var(--white-color-text);
}

@media screen and (max-width: 1199px) {
  .page-footer__container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .sign-form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 260px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
    margin-bottom: 0;
  }

  .join__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
  }

  .page-footer__list {
    margin-right: 70px;
  }

  .join {
    margin-left: 0;
  }

  .join__title {
    text-align: left;
  }

  .page-footer__mail {
    margin-bottom: 9px;
    margin-top: 9px;
  }
}
