.section {
  color: var(--primary-text-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
