:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color-text: #ffffff;
  --primary-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --dark-bg: #2f303a;
}
